{#
 # Index
 #
 # @package WordPress
 # @subpackage LeChateauDesOrmeaux
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}
<!DOCTYPE html>
<html
    itemscope
    itemtype="http://schema.org/WebPage"
    {{ html_class( 'no-js no-touch' ) }}
    {{ site.language_attributes }}
>

	<head>

		<meta charset="{{ site.charset }}">
		<link rel="profile" href="http://gmpg.org/xfn/11">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5,viewport-fit=cover">
		<meta name="format-detection" content="telephone=no">

		{{ function( 'wp_head' ) }}

	</head>

	<body class="font-sans">
		{{- fn( 'wp_body_open' ) -}}

		<div id="{{ post.id ? "page-#{post.id}" : 'page' }}" {{ body_class( '' ) }}>

			{% block header %}
				{{- include( 'header.html.twig', { classes: [] } ) -}}
			{% endblock %}

			{%- block content -%}

				<main class="mt-20 mb-10 xl:mt-24 xl:mb-20">

					<div class="bg-brand-beige py-10 xl:py-20">
						<div class="container">
							{{- yoast_breadcrumb() -}}
							<h1 class="h1 mt-6 xl:mt-8">{{- post.title -}}</h1>
						</div>
					</div>

					{%- if post.content -%}
						<div class="py-10 xl:py-20">
							<div class="container wysiwyg">
								{{- post.content -}}
							</div>
						</div>
					{%- endif -%}

				</main>
			{%- endblock -%}


			{% block footer %}
				{{- include( 'footer.html.twig' ) -}}
			{%- endblock -%}

		</div>


		{{- function( 'wp_footer' ) -}}

		<div id="svg-sprite" style="display: none;">{{- include( 'sprite.svg', ignore_missing = true ) -}}</div>

	</body>

</html>
