{#
 # Blocks: Read More
 #}

<div class="{{ html_classes( 'bg-brand-vert-dark text-white relative' ) }}">

	<div class="xl:absolute xl:inset-0 flex items-center">
		<div class="container xl:grid xl:grid-cols-12 py-10 xl:py-0 xl:gap-4">
			{%- if block.title or block.content -%}
				<div class="space-y-10 xl:col-span-6 xl:mr-12">
					{{- block.title ? '<h2 class="h3">' ~ block.title ~ '</h2>' : '' -}}
					<div class="wysiwyg">{{- block.content -}}</div>
				</div>
			{%- endif -%}
		</div>
	</div>

	<div class="xl:ml-auto block w-full xl:w-[36.5277778%] relative">
		<c-scroll class="relative xl:absolute -mb-8 mx-auto xl:left-0 xl:mr-0 xl:-ml-20 xl:mb-24 xl:bottom-0">
			<img
				src="{{ asset( 'src/img/svg/mouth.svg' ) }}"
				class="w-20 xl:w-28 h-auto "
				alt="" width="115" height="76">
		</c-scroll>
		{{- include( 'components/image.html.twig', { image: block.image, classes: [ 'aspect-square object-cover object-center' ] } ) -}}
	</div>
</div>
