{#
 # Archive: Case Study
 #
 # @package WordPress
 # @subpackage CeliaAubry
 #}

{% extends 'index.html.twig' %}

{% block content %}
	<main class="mt-20 mb-10 xl:mt-24 xl:mb-20">
		<div class="bg-neutral-900 text-white relative py-10 xl:py-20">


			<c-load-posts class="block" data-posts-per-page="-1" data-post-type="case_study">

				<div class="container">
					{{- yoast_breadcrumb() -}}
					<h1 class="h1 mt-6 xl:mt-8">{{ __( 'Case Studies', 'celia-aubry' ) }}</h1>
				</div>

				<div class="container mt-10 hidden xl:block">
					{% include( 'components/filters-case-study.html.twig' ) %}
				</div>


				<div class="h3 mt-20 mb-10 hidden xl:block">
					<div class="container grid grid-cols-12 items-center gap-4">
						<div class="col-span-8">
							<p>{{- __( 'Case Studies', 'celia-aubry' ) -}}</p>
						</div>

						<div class="col-span-4">
							<p>{{- __( 'Expertise', 'celia-aubry' ) -}}</p>
						</div>

					</div>
				</div>

				<div class="mt-14 xl:mt-0 transition-opacity duration-300 ease-in-out" data-container>
					{{- include( 'components/collection-case-study.html.twig', { posts: posts } ) -}}
				</div>

				<div class="sticky bottom-0 xl:hidden bg-neutral-900 py-4">
					<div class="container">
						{% include( 'components/filters-case-study.html.twig' ) %}
					</div>
				</div
			</c-load-posts>

		</div>
	</main>
{% endblock %}
